div.lfs-container {
    padding: 10px;
}

div.lfs-container div {
    position: relative;
}

div.lfs-container div.lfs-locker {
    background-color: rgba(243, 243, 243, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

div.lfs-message {
    transition: background-color 1s;
}

.lfs-bind-option {
    background-color: #DDD;
}

.lfs-default-option {
    background-color: #8add8d;
}

img.lfs-screen-shot {
    border: 1px #DDD solid;
    border-radius: 3px;
    max-height: 250px;
    max-width: 250px;
    box-shadow: 0 0 10px rgb(221, 221, 221);
    transition: max-width 1.5s, max-height 1.5s;
}

img.lfs-screen-shot:hover {
    max-height: 100%;
    max-width: 100%;
}

div.lfb-waiting-indicator {
    background: url(../img/loading.gif) no-repeat left center;
    background-size: contain;
}

select.lfb-select {
    width: 220px;
    max-width: 70%;
    transition: border 1s;
}

.lfb-display-none {
    display: none;
}