div.ts-container {
    padding: 10px;
}

div.ts-container h3 {
    color: #8D8D8D;
    font-size: 20px;
    font-weight: normal;
}

div.ts-container .ts-action-label {
    cursor: pointer;
}

div.ts-container .ts-message {
    animation: ts-message 0.5s;
}

div.ts-container div {
    position: relative;
}

div.ts-container div.ts-locker {
    background-color: rgba(243, 243, 243, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

.ts-bind-option {
    background-color: #DDD;
}

.ts-default-option {
    background-color: #8add8d;
}

img.ts-screen-shot {
    border: 1px #DDD solid;
    border-radius: 3px;
    max-height: 250px;
    max-width: 250px;
    box-shadow: 0 0 10px rgb(221, 221, 221);
    transition: max-width 1.5s, max-height 1.5s;
}

img.ts-screen-shot:hover {
    max-height: 100%;
    max-width: 100%;
}

div.lfb-waiting-indicator {
    background: url(../img/loading.gif) no-repeat left center;
    background-size: contain;
}

select.lfb-select {
    width: 220px;
    max-width: 70%;
    transition: border 1s;
}

.lfb-display-none {
    display: none;
}

/* animations */

@keyframes ts-message {
    from {
        opacity: 0.3;
    }
    to {
        opacity: initial;
    }
}
