div.ts-container {
    padding: 10px;
}

div.ts-container div.ts-row {

}

div.ts-container div.ts-row > div {
    display: inline-block;
    vertical-align: top;
}

div.ts-container div.ts-row > div:nth-child(1) {
    min-width: 40%;
}

div.ts-container div.ts-row > div:nth-child(2) {
    min-width: 58%;
}

div.ts-container div.button-footer {
    padding: 10px 0;
}

div.ts-container h3 {
    color: #8D8D8D;
    font-size: 20px;
    font-weight: normal;
}

div.ts-container .ts-tooltip,
div.ts-container .ts-action-label {
    cursor: pointer;
}

div.ts-container .ts-message {
    animation: ts-message 0.5s;
}

div.ts-container img.ts-screen-shot {
    border: 1px #DDD solid;
    border-radius: 3px;
    max-height: 200px;
    max-width: 100%;
    box-shadow: 0 0 10px rgb(221, 221, 221);
}

div.ts-container select.ts-select {
    width: 220px;
    max-width: 70%;
    transition: border 1s;
}

div.ts-container option.ts-bind-option {
    background-color: #DDD;
}

div.ts-container option.ts-default-option {
    background-color: #8add8d;
}

div.ts-container .ts-display-none {
    display: none;
}

/* animations */

@keyframes ts-message {
    from {
        opacity: 0.3;
    }
    to {
        opacity: initial;
    }
}
